#faq_questions {
    // ! 全サイズ共通
    // * 質問一覧画面
    .list-content {
        .tab-menu.nav {
            display: flex;
            justify-content: space-between;
            padding: 0;
        }
        .tab-menu.nav .nav-item {
            flex: 1;
            padding: 0;
        }
        .tab-menu.nav .nav-link {
            display: block;
            text-align: center;
            padding: 10px;
            box-sizing: border-box;
            color: #333333;
            font-size: 16px;
            font-weight: bold;
        }
        .tab-menu.nav .nav-link.active {
            color: #4B709A;
            border-bottom: 2px solid #4B709A;
            box-sizing: border-box;
            font-size: 16px;
            font-weight: bold;
        }
        .question-area {
            width: 100%;
            .left-content {
                width: 42%;
                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    border-radius: 10px 0 0 10px;
                }
            }
            .right-content {
                width: 58%;
                background-color: #ffffff8b;
                border-radius: 0 10px 10px 0;
                padding: 18.5px 0;
                .user-area {
                    padding: 0 14.5px;
                    .question-user-image {
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        object-fit: cover;
                        margin-right: 10px;
                    }
                    .user-information {
                        h5 {
                            font-size: 16px;
                        }
                        small {
                            font-size: 12px;
                        }
                    }
                }
                .question-information {
                    a {
                        text-decoration: none;
                        color: #333333;
                    }
                }
                .answer-area {
                    img {
                        width: 18px;
                        height: 18px;
                        object-fit: cover;
                        margin-right: 2px;
                    }
                    small {
                        font-size: 16px;
                        display: flex;
                        align-items: center;
                        height: 20px;
                    }
                }
            }
            .page {
                margin-top: 50px;
            }
        }
    }
    // * 質問投稿、編集ページの設定
    .new-edit-content {
        margin-top: 45px;
        margin-bottom: 150px;
        h3 {
            font-size: 28px;
            margin-bottom: 60px;
        }
        .modal-area {
            .modal-body {
                background-color: #333333;
            }
            .post-area {
                background-color: #333333;
                .submit-btn {
                    background-color: #4B709A;
                    color: #FFFFFF;
                }
            }
        }
        .modal-container {
            position: relative;
        }
        #overlay {
            position: absolute;
            top: 0;
            opacity: .6;
        }
        .overlay img {
            width: 189px;
            height: 262px;
            object-fit: cover;
            border-radius: 10px;
        }
        input:not([type="checkbox"]):not([type="file"]):not([type="submit"]):not([type="button"]) {
            border-radius: 10px;
            height: 50px;
            background-color: #FFFFFF;
            opacity: .5;
        }
        select {
            border-radius: 10px;
            height: 50px;
            background-color: #FFFFFF;
            opacity: .5;
        }
        textarea {
            border-radius: 10px;
            height: 50px;
            background-color: #FFFFFF;
            opacity: .5;
        }
        .item {
            border: none;
            background-color: #CBC5C1;
        }
        .cancel-btn {
            color: #4B709A;
            border: 2px solid #4B709A;
            border-radius: 10px;
            font-size: 14px;
            font-weight: bold;
            padding: 12px 20px;
        }
        .submit-btn {
            background-color: #4B709A;
            border: 2px solid #4B709A;
            color: #FFFFFF;
            border-radius: 10px;
            font-size: 14px;
            font-weight: bold;
            padding: 12px 20px;
        }
    }
    // * 質問詳細画面
    .show-content {
        .number-of-answer {
            margin-bottom: 7px;
            margin-left: 15px;
            font-size: 20px;
            font-weight: bold;
            small {
                font-size: 20px;
                color: #4B709A;
                font-weight: bold;
            }
        }
        .user-area {
            .question-user-image {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 10px;
            }
            .user-information {
                h5 {
                    font-size: 16px;
                }
                small {
                    font-size: 12px;
                }
            }
        }
        .question-area {
            background-color: #ffffff7d;
            .question-content {
                font-size: 18px;
                margin-top: 25px;
                margin-bottom: 40px;
            }
            .question-image {
                height: auto;
                object-fit: cover;
                border-radius: 10px;
                margin-bottom: 30px;
            }
        }
        .answer-btn {
            margin: 30px 0;
            a {
                color: #FFFFFF;
                background-color: #4B709A;
                padding: 12px 20px;
                font-size: 14px;
                font-weight: bold;
            }
        }
        .answer-area {
            background-color: #ffffff7d;
            .answer-content {
                font-size: 18px;
                margin-top: 25px;
                margin-bottom: 40px;
            }
            .answer-image {
                height: auto;
                object-fit: cover;
                border-radius: 10px;
                margin-bottom: 30px;
            }
            .like-area {
                margin-top: 25px;
                img {
                    width: 18px;
                    height: 18px;
                }
                .number-of-like {
                    font-size: 14px;
                    margin-left: 10px;
                }
            }
        }
        .delete-btn {
            color: #4B709A;
            border: 2px solid #4B709A;
            border-radius: 10px;
            font-size: 14px;
            font-weight: bold;
            padding: 12px 20px;
        }
        .edit-btn {
            background-color: #4B709A;
            border: 2px solid #4B709A;
            color: #FFFFFF;
            border-radius: 10px;
            font-size: 14px;
            font-weight: bold;
            padding: 12px 20px;
        }
    }
    // * スマートフォン
    @media (max-width: 768px) {
        // ? 質問一覧画面
        .list-content {
            .tab-menu.nav {
                padding: 0 5px;
            }
            .row {
                margin-left: 0;
                margin-right: 0;
            }
            .question-area {
                width: 100%;
                .flex {
                    width: 100%;
                    margin-bottom: 10px;
                }
                .right-content {
                    position: relative;
                    .user-area {
                        position: absolute;
                    }
                    .question-information {
                        position: absolute;
                        top: 45%;
                        padding: 0 30px;
                    }
                    .answer-area {
                        position: absolute;
                        right: 0;
                        display: flex;
                        bottom: 0;
                        align-items: flex-end;
                        margin: 0 14.5px 20px;
                    }
                }
            }
        }
        // ? 質問投稿、編集画面
        .new-edit-content {
            padding: 0 20px;
            width: 350px;
            label {
                font-size: 16px;
                margin-bottom: 15px;
            }
            .coordinate-modal {
                padding: 150px 10px;
            }
        }
        // ? 質問詳細画面
        .show-content {
            padding: 0 20px;
            .question-area {
                padding: 20px 30px;
                .question-image {
                    width: 100%;
                }
            }
            .answer-btn {
                width: 85%;
            }
            .answer-area {
                padding: 20px 30px;
                .answer-image {
                    width: 100%;
                }
            }
        }
    }
    // * タブレット
    @media (min-width: 768px) and (max-width: 1280px) {
        // ? 質問一覧画面
        .list-content {
            .tab-menu.nav {
                width: 400px;
            }
            .tab-menu.nav .nav-link {
                font-size: 16px;
            }
            width: 760px;
            .flex {
                width: 50%;
                float: left;
                margin-bottom: 10px;
            }
            .question-area {
                width: 100%;
                .right-content {
                    .user-area {
                        padding-top: 5px;
                    }
                    .question-information {
                        padding: 0 30px;
                        font-size: 15px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        height: 86px;
                    }
                    .answer-area {
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-end;
                        margin: 0 14.5px;
                    }
                }
            }
        }
        // ? 質問投稿、編集画面
        .new-edit-content {
            width: 550px;
            label {
                font-size: 16px;
                margin-bottom: 15px;
            }
            .coordinate-modal {
                padding: 200px 50px;
            }
        }
        // ? 質問詳細画面
        .show-content {
            width: 760px;
            .delete-btn {
                color: #4B709A;
                border: 2px solid #4B709A;
                border-radius: 10px;
            }
            .edit-btn {
                background-color: #4B709A;
                border: 2px solid #4B709A;
                color: #FFFFFF;
                border-radius: 10px;
            }
            .question-area {
                padding: 30px 60px;
                .question-image {
                    width: 40%;
                }
            }
            .answer-btn {
                width: 60%;
            }
            .answer-area {
                padding: 30px 60px;
                .answer-image {
                    width: 40%;
                }
            }
        }
    }
    // * PC（大）
    @media (min-width: 1280px) {
        // ? 質問一覧画面
        .list-content {
            .tab-menu.nav {
                width: 400px;
            }
            .tab-menu.nav .nav-link {
                font-size: 16px;
            }
            width: 1014px;
            .flex {
                width: 50%;
                float: left;
                margin-bottom: 10px;
            }
            .question-area {
                width: 100%;
                .right-content {
                    .user-area {
                        padding-top: 5px;
                    }
                    .question-information {
                        padding: 0 30px;
                        font-size: 15px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        height: 156px;
                    }
                    .answer-area {
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-end;
                        margin: 0 14.5px;
                    }
                }
            }
        }
        // ? 質問投稿、編集ページの設定
        .new-edit-content {
            width: 793px;
            label {
                font-size: 15px;
                margin-bottom: 15px;
            }
            .coordinate-modal {
                padding: 200px 50px;
            }
        }
        // ? 質問詳細画面
        .show-content {
            width: 973px;
            .question-area {
                padding: 40px 100px;
                .question-image {
                    width: 35%;
                }
            }
            .answer-btn {
                width: 60%;
            }
            .answer-area {
                padding: 40px 100px;
                .answer-image {
                    width: 35%;
                }
            }
        }
    }
}