<%# ! エラーがあるか判定 %>
<% if resource.errors.any? %>
    <div id="error_explanation" data-turbo-cache="false">
        <%# * エラーが発生した場合表示 %>
        <% resource.errors.full_messages.each do |message| %>
            <label class="text-danger"><%= message %><br></label>
        <% end %>
    </div>
<% end %>

