<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    
      <% resource.errors.full_messages.each do |message| %>
        <p class="text-danger"><%= message %></p>
      <% end %>
    
  </div>
<% end %>
