<div id="sns_form">

    <%# ! header %>
    <%= render "profile/layouts/header" %>

    <div class="row">
        <%# ! sidebar %>
        <div class="col-lg-3">
            <%= render "profile/layouts/sidebar" %>
        </div>

        <%# ! contents %>
        <div class="list_content col-lg-9">
            <div class="bg-white py-3 mb-3">
                
            </div>
        </div>
    </div>
</div>