<div id="closet_list">
    <%# ! header %>
    <%= render "coordinates/layouts/header" %>
    <div class="d-flex">
        <%# ! sidebar %>
        <div class="col-lg-3">
            <%= render "coordinates/layouts/sidebar" %>
        </div>

        <%# ! contents %>
        <div class="list_content col-lg-9">
            <div class="m-3 bg-light">
                <%# * タブエリア %>
                <div class="tab-content">
                    <%# ? allタブエリア %>
                    <div id="all" class="tab-pane active">
                        <div class="row">
                            <% @search_result.each do |c| %>
                                <div class="col-lg-3 m-0 mt-3">
                                    <%= link_to "/closet/show/#{c.id}" do %>
                                        <%= image_tag c.photograph.url, class: "closet_image" %>
                                    <% end %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>