<nav class="header navbar navbar-expand-lg py-3 text-white">
    <div class="container">
        <a class="navbar-brand logo-area d-flex align-items-center" href="/">
            <%= image_tag "/assets/my_closet_logo/logo1.png" %>
        </a>
    </div>
</nav>

<div class="pc_error_msg">
    <%= render "layouts/error" %>
</div>