// ! profilesフォルダのレイアウト （show, list）
#profile_alerts {
    // ! 全サイズ共通
    // * お知らせ一覧ページ
    .list-content {
        margin-top: 45px;
        margin-bottom: 150px;
        h4 {
            font-size: 28px;
            margin-bottom: 60px;
        }
        .tab-menu.nav {
            display: flex;
            justify-content: space-between;
            padding: 0;
        }
        .tab-menu.nav .nav-item {
            flex: 1;
            padding: 0;
        }
        .tab-menu.nav .nav-link {
            display: block;
            text-align: center;
            padding: 10px;
            color: #333333;
            font-size: 14px;
            border-bottom: 1px solid #ABA6A2;
            box-sizing: border-box;
        }
        .tab-menu.nav .nav-link.active {
            background-color: #333333;
            color: #FFFFFF;
        }
        .alert-body {
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.5);
            color: #333333;
            margin-bottom: 15px;
            .alert-image {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }
            .alert-title {
                h6 {
                    font-size: 16px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
                label {
                    font-size: 14px;
                }
            }
            .alert-time {
                margin: 0 0 0 auto;
                width: 130px;
                .time {
                    font-size: 14px;
                    padding-top: 5px;
                }
                small {
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }
    }
    // * お知らせ詳細ページ
    .show-content {
        margin-top: 45px;
        margin-bottom: 150px;
        h4 {
            font-size: 28px;
            margin-bottom: 60px;
        }
        h5 {
            font-size: 20px;
            margin-bottom: 30px;
        }
        .alert-body {
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.5);
            color: #333333;
            .alert-title {
                h6 {
                    font-size: 14px;
                }
                small {
                    font-size: 12px;
                    color: #727272;
                }
            }
            .alert-post {
                background-color: #D9D9D9;
            }
        }
        .alert-image {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 15px;
        }
        a {
            background-color: #4B709A;
            font-size: 14px;
            color: #FFFFFF;
            img {
                width: 16px;
                height: 16px;
            }
        }
    }
    // * スマートフォン （小）
    @media (max-width: 768px) {
        // ? お知らせ一覧ページ
        .list-content {
            padding: 0 10px;
            .alert-body {
                padding: 15px 15px;
                .alert-image {
                    margin-right: 10px;
                }
            }
        }
        // ? お知らせ詳細ページの設定
        .show-content {
            padding: 0 10px;
            .alert-body {
                padding: 50px 20px;
                .alert-post {
                    width: calc(100% + 40px);
                    margin: 50px -20px;
                    .post-img {
                        width: 190.5px;
                        height: auto;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    // * タブレット
    @media (min-width: 768px) and (max-width: 1280px) {
        // ? お知らせ一覧ページ
        .list-content {
            width: 700px;
            .alert-body {
                padding: 15px 30px;
                .alert-image {
                    margin-right: 20px;
                }
            }
        }
        // ? お知らせ詳細ページの設定
        .show-content {
            width: 753px;
            .alert-body {
                padding: 100px 40px;
                .alert-post {
                    width: calc(100% + 80px);
                    margin: 50px -40px;
                    .post-img {
                        width: 300px;
                        height: auto;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    // * PC
    @media (min-width: 1280px) {
        // ? お知らせ一覧ページ
        .list-content {
            width: 700px;
            .alert-body {
                padding: 15px 30px;
                .alert-image {
                    margin-right: 20px;
                }
            }
        }
        // ? お知らせ詳細ページの設定
        .show-content {
            width: 973px;
            .alert-body {
                padding: 100px;
                .alert-post {
                    margin: 50px 0;
                    img {
                        width: 300px;
                        height: auto;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}