// ! profilesフォルダのレイアウト （show, list）
#profile_alerts {
    // ! 全サイズ共通
    // ? headerの設定
    .header {
        background-color: #222222;
    }
    // ? サイドバーの設定
    .sidebar {
        overflow-y: scroll;
        background-color: #CBC5C1;
        box-shadow: 10px 0px 10px -10px rgba(0, 0, 0, 0.2);
        a {
            color: #333333;
            text-decoration: none;
        }
        a:hover {
            background-color: #4B709A;
            color: #FFFFFF;
            text-decoration: none;
        }
        .active {
            background-color: #4B709A;
            color: #FFFFFF;
            text-decoration: none;
        }
        i {
            margin-right: 15px;
            font-size: 1.1rem;
        }
        hr {
            border-top: 2px solid #333333;
        }
        .post-btn {
            background-color: #4B709A;
            color: #FFFFFF;
            text-decoration: none;
        }
        .search-identification a:hover {
            text-decoration: underline;
            color: #333333;
            background-color: #CBC5C1;
        }
    }
    // * スマートフォン （小）
    @media (max-width: 768px) {
        // ?モバイルサイドバーのレイアウト設定
        .header {
            img {
                width: 40%;
            }
        }
    }
    // * タブレット
    @media (min-width: 768px) and (max-width: 1280px) {
        // ?モバイルサイドバーのレイアウト設定
        .header {
            img {
                width: 20%;
            }
        }
    }
    // * PC（大）
    @media (min-width: 1280px) {
        // ? モバイルのヘッダーは表示しない
        .mobile_header {
            display: none;
        }
        // ? モバイルのエラーメッセージは表示しない
        .mobile_error_msg {
            display: none;
        }
        // ? サイドバーの幅の設定
        .col-lg-2-5 {
            flex: 0 0 19%;
            max-width: 19%;
        }
        // ? コンテンツの幅の設定
        .col-lg-9-5 {
            flex: 0 0 81%;
            max-width: 81%;
        }
        // ?モバイルサイドバーのレイアウト設定
        .header {
            img {
                width: 20%;
            }
        }
        // ? お知らせ一覧ページの設定
        .list-content {
            margin: 20px 50px;
            .alert-body {
                border-radius: 5px;
                background-color: rgba(255, 255, 255, 0.5);
                color: #333333;
            }
            .alert-image {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 2px solid black;
                object-fit: cover;
                margin-right: 20px;
            }
            .user-area {
                background-color: #222222;
                img {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-left: 10px;
                }
                .user-name {
                    color: #FFFFFF;
                }
                .user-height {
                    font-size: 10px;
                    color: #FFFFFF;
                }
                .like {
                    i {
                        font-size: 18px;
                    }
                }
                .number-of-likes {
                    font-size: 15px;
                    margin-left: 5px;
                    color: #FFFFFF;
                }
            }
        }
    }
}