    // ! profilesフォルダのレイアウト （follower_list, follows_list）
    #profile_follows {
        // ? フォロー中、フォロワーページ
        .profile-cover {
            width: 100%;
            object-fit: cover;
        }
        .follow-content {
            margin-top: 50px;
            margin-bottom: 150px;
            .tab-menu.nav {
                display: flex;
                justify-content: space-between;
                padding: 0;
            }
            .tab-menu.nav .nav-item {
                flex: 1;
                padding: 0;
            }
            .tab-menu.nav .nav-link {
                display: block;
                text-align: center;
                padding: 10px;
                color: #333333;
                font-size: 14px;
                border-bottom: 1px solid #ABA6A2;
                box-sizing: border-box;
            }
            .tab-menu.nav .nav-link.active {
                background-color: #333333;
                color: #FFFFFF;
            }
            .tab-content {
                .user-area {
                    td {
                        padding: 10px 0;
                    }
                    border-bottom: 1px solid #ABA6A2;
                    .avatar {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                        margin-right: 15px;
                    }
                    label {
                        font-size: 16px;
                    }
                    .unfollow-btn {
                        background-color: #FFFFFF;
                        opacity: .5;
                        color: #000000;
                        font-size: 14px;
                        padding: 12px 20px;
                        border: none;
                        border-radius: 10px;
                    }
                    .follow-btn {
                        background-color: #4B709A;
                        color: #FFFFFF;
                        font-size: 14px;
                        padding: 12px 20px;
                        border: none;
                        border-radius: 10px;
                    }
                    .edit-btn {
                        background-color: #4B709A;
                        color: #FFFFFF;
                        font-size: 14px;
                        padding: 12px 20px;
                        border: none;
                        border-radius: 10px;
                    }
                }
            }
            .page {
                margin-top: 50px;
            }
        }
        // * スマートフォン （小）
        @media (max-width: 768px) {
            // ? フォロー中、フォロワーページ
            .profile-cover {
                height: 173px !important;
            }
            .follow-content {
                padding: 0 10px;
                .tab-content {
                    padding: 0px 10px;
                }
            }
        }
        // * タブレット
        @media (min-width: 768px) and (max-width: 1280px) {
            .profile-cover {
                height: 243px !important;
            }
            // ? フォロー中、フォロワーページ
            .follow-content {
                width: 694px;
                .tab-content {
                    padding: 0px 30px;
                }
            }
        }
        // * PC（大）
        @media (min-width: 1280px) {
            .profile-cover {
                width: 100%;
                height: 243px !important;
            }
            // ? フォロー中、フォロワーページ
            .follow-content {
                width: 913px;
                .tab-content {
                    padding: 0px 30px;
                }
            }
        }
    }