// ! profilesフォルダのレイアウト （edit, show）
#profile_profiles {
    // ! 全サイズ共通
    // ? headerの設定
    .header {
        background-color: #222222;
    }
    // ? サイドバーの設定
    .sidebar {
        overflow-y: scroll;
        background-color: #CBC5C1;
        box-shadow: 10px 0px 10px -10px rgba(0, 0, 0, 0.2);
        a {
            color: #333333;
            text-decoration: none;
        }
        a:hover {
            background-color: #4B709A;
            color: #FFFFFF;
            text-decoration: none;
        }
        .active {
            background-color: #4B709A;
            color: #FFFFFF;
            text-decoration: none;
        }
        i {
            margin-right: 15px;
            font-size: 1.1rem;
        }
        hr {
            border-top: 2px solid #333333;
        }
        .post-btn {
            background-color: #4B709A;
            color: #FFFFFF;
            text-decoration: none;
        }
        .search-identification a:hover {
            text-decoration: underline;
            color: #333333;
            background-color: #CBC5C1;
        }
    }
    // * スマートフォン （小）
    @media (max-width: 768px) {
        // ?モバイルサイドバーのレイアウト設定
        .header {
            img {
                width: 40%;
            }
        }
    }
    // * タブレット
    @media (min-width: 768px) and (max-width: 1280px) {
        // ?モバイルサイドバーのレイアウト設定
        .header {
            img {
                width: 20%;
            }
        }
    }
    // * PC（大）
    @media (min-width: 1280px) {
        // ? プロフィールページの設定
        .profile-cover {
            width: 100%;
            height: 243px !important;
            object-fit: cover;
        }
        .show-content {
            margin-top: 50px;
            width: 973px;
            .tab-menu {
                .active {
                    background-color: #4B709A;
                    color: #FFFFFF;
                    border: none;
                    border-radius: 5px;
                }
                a {
                    border-bottom: 3px solid #333333;
                    color: #333333;
                }
            }
            .avatar {
                width: 130px;
                height: 130px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 25px;
            }
            .edit-btn {
                background-color: #4B709A;
                color: #FFFFFF;
            }
            .user-information-area {
                h4 {
                    font-size: 28px;
                }
                small {
                    font-size: 12px;
                }
                .follow-area {
                    margin-top: 25px;
                    a {
                        font-size: 14px;
                        text-decoration: none;
                        span {
                            font-weight: bold;
                            font-size: 20px;
                        }
                    }
                }
            }
            .user-post-area {
                margin-top: 55px;
            }
            .user-post-content {
                padding: 0 106.5px;
                .photograph {
                    width: 100%;
                    height: 336px;
                    object-fit: cover;
                }
            }
            .question-area {
                .question_image {
                    width: 202px;
                    height: 270px;
                    object-fit: cover;
                    border-radius: 10px 0 0 10px;
                }
                .question-area {
                    background-color: #ffffff8b;
                    width: 280px;
                    border-radius: 0 10px 10px 0;
                    padding-top: 22px;
                    .user-area {
                        padding: 0 14.5px;
                        .question-user-image {
                            width: 45px;
                            height: 45px;
                            border-radius: 50%;
                            object-fit: cover;
                            margin-right: 10px;
                        }
                        .user-information {
                            h5 {
                                font-size: 16px;
                            }
                            small {
                                font-size: 12px;
                            }
                        }
                    }
                    .question-information {
                        padding: 0 29px;
                        font-size: 15px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        height: 160px;
                    }
                    .answer {
                        margin: 0 22px;
                        img {
                            width: 18px;
                            height: 18px;
                            object-fit: cover;
                        }
                        small {
                            font-size: 16px;
                        }
                    }
                }
            }
            .page {
                margin-top: 50px;
            }
        }
        // ? プロフィール編集ページの設定
        .edit-content {
            margin-top: 50px;
            width: 973px;
            input:not([type="checkbox"]):not([type="file"]):not([type="submit"]) {
                border-radius: 10px;
                height: 50px;
                opacity: .6;
            }
            select {
                border-radius: 10px;
                height: 50px;
                opacity: .6;
            }
            textarea {
                border-radius: 10px;
                height: 50px;
                opacity: .6;
            }
            .container {
                position: relative;
            }
            #overlay {
                position: absolute;
                top: 0;
                opacity: .6;
            }
            .overlay img {
                width: 150px;
                height: 150px;
                object-fit: cover;
                border-radius: 50%;
            }
            .user-area {
                width: 793px;
            }
            .modal-area {
                .modal-body {
                    background-color: #333333;
                    padding: 200px 0;
                }
                .post-area {
                    background-color: #333333;
                    .submit-btn {
                        background-color: #4B709A;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}