<div id="sns_form">

    <%# ! header %>
    <%= render "profile/layouts/header" %>

    <div class="row">
        <%# ! sidebar %>
        <div class="col-lg-3">
            <%= render "profile/layouts/sidebar" %>
        </div>

        <%# ! contents %>
        <div class="list_content col-lg-9 bg-light">
            <h1><%= @alert.title %></h1>
            <p><%= @alert.content %></p>
        </div>
    </div>
</div>