<div id="suggestion_suggestions">
    <div class="d-flex">
        <%# ! sidebar %>
        <div class="side-content">
            <%= render "layouts/pc_sidebar" %>
        </div>

        <%# ! contents %>
        <div class="main-content">
            <%= render "layouts/error" %>

            <div class="induction-content mx-auto">
                <div class="section1 vh-100 d-flex align-items-center" id="home">
                    <div class="mx-auto">
                        <div class="mx-auto">
                            <h2 class="fw-bold">AIにコーデを提案してもらおう！</h2>
                        </div>

                        <div class="mx-auto mt-5 col-6">
                            <a href="/suggestion" class="suggest-btn btn fw-bold mx-auto col-12">診断してみる</a>
                        </div>
                    </div>
                </div>

                <div class="section2 d-flex align-items-center" id="home">
                    <div class="row">
                        <div class="flex1">
                            <h2 class="fw-bold">コーディネート提案とは？</h2>

                            <p class="fw-bold">
                                自分に似合うコーデネートが知りたい...。<br>
                                とにかくおしゃれになりたい...。<br>
                                <br>
                                MY CLOSETはそんなあなたのお悩みを解決します。<br>
                                <br>
                                まずは、あなたのタイプを診断！<br>
                                <br>
                                そこから<span>AIがあなたに似合うコーディネートを提案</span>します。
                            </p>
                        </div>

                        <div class="flex2 text-center">
                            <img src="/assets/suggest/sample2.png" alt="" class="induction-img">
                        </div>
                    </div>
                </div>

                <div class="section2 d-flex align-items-center" id="home">
                    <div class="row">
                        <div class="flex1">
                            <h2 class="fw-bold">提案される4つのおすすめ</h2>

                            <p class="fw-bold">
                                自分に似合うコーデネートが知りたい...。<br>
                                とにかくおしゃれになりたい...。<br>
                                <br>
                                MY CLOSETはそんなあなたのお悩みを解決します。<br>
                                <br>
                                まずは、あなたのタイプを診断！<br>
                                <br>
                                そこから<span>AIがあなたに似合うコーディネートを提案</span>します。
                            </p>
                        </div>

                        <div class="flex2 text-center">
                            <img src="/assets/suggest/sample2.png" alt="" class="induction-img">
                        </div>
                    </div>
                </div>
                
                <div class="section1 vh-100 d-flex align-items-center" id="home">
                    <div class="mx-auto">
                        <div class="mx-auto">
                            <h2 class="fw-bold">AIにコーデを提案してもらおう！</h2>
                        </div>

                        <div class="mx-auto mt-5 col-6">
                            <a href="/suggestion" class="suggest-btn btn fw-bold mx-auto col-12">診断してみる</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>