<div id="sns_posts">
    <%# ! サイドバーエリアとコンテンツエリア %>
    <div class="d-flex">
        <%# * サイドバーエリア %>
        <div class="side-content">
            <%= render "layouts/pc_sidebar" %>
        </div>

        <%# * コンテンツエリア %>
        <div class="main-content">
            <div class="pc-error-msg">
                <%= render "layouts/error" %>
            </div>
            
            <div class="list-content mx-auto">
                <h1>学園祭特設ページ</h1>
                <div class="tab-content mt-2">
                    <%# ? 全ての投稿を表示する %>
                    <div id="all" class="tab-pane active">
                        <div class="row g-1">
                            <% @sns_all.each do |sns| %>
                                <div class="flex mt-1">
                                    <%= link_to "/sns/show/#{sns.id}" do %>
                                        <%= image_tag sns.photograph.url(:forced_size), class: "sns-image" %>
                                    <% end %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>