<nav class="pc_header navbar navbar-expand-lg bg-body-tertiary mb-2 py-3">
    <div class="container-fluid col-lg-11">
        <a class="navbar-brand fw-bold text-primary fs-4" href="/">My Closet</a>
    </div>
</nav>