// ! contactsフォルダのレイアウト （new）
#contact_contacts {
    // ! 全サイズ共通
    // * sidebar関連
    // ? headerの設定
    .header {
        background-color: #222222;
    }
    // ? サイドバーの設定
    .sidebar {
        background-color: #CBC5C1;
        box-shadow: 10px 0px 10px -10px rgba(0, 0, 0, 0.2);
        a {
            color: #333333;
            text-decoration: none;
        }
        a:hover {
            background-color: #4B709A;
            color: #FFFFFF;
            text-decoration: none;
        }
        .active {
            background-color: #4B709A;
            color: #FFFFFF;
            text-decoration: none;
        }
        i {
            margin-right: 15px;
            font-size: 1.1rem;
        }
        hr {
            border-top: 2px solid #333333;
        }
        .post-btn {
            background-color: #4B709A;
            color: #FFFFFF;
            text-decoration: none;
        }
    }
    // * スマートフォン （小）
    @media (max-width: 575.98px) {
        // ? PC用のヘッダーは表示しない
        .pc-header {
            display: none;
        }
        // ? PCのサイドバーは表示しない
        .pc-sidebar {
            display: none;
        }
        // ?モバイルサイドバーのレイアウト設定
        .mobile_header {
            img {
                width: 40%;
            }
            .navbar-toggler {
                background-color: #ffffff;
            }
            .sidebar {
                width: 80%;
                transition: opacity 1.0s ease;
            }
        }
    }
    // * スマートフォン （中）
    @media (min-width: 576px) and (max-width: 767.98px) {}
    // * タブレット
    @media (min-width: 768px) and (max-width: 991.98px) {
        // ? PC用のヘッダーは表示しない
        .pc-header {
            display: none;
        }
        // ? PCのサイドバーは表示しない
        .pc-sidebar {
            display: none;
        }
        // ?モバイルサイドバーのレイアウト設定
        .mobile_header {
            img {
                width: 20%;
            }
            .navbar-toggler {
                background-color: #ffffff;
                transition: opacity 0.5s ease;
            }
            .search_icon {
                display: none;
            }
        }
    }
    // * PC（小）
    @media (min-width: 992px) and (max-width: 1199.98px) {}
    // * PC（大）
    @media (min-width: 1200px) {
        // ?モバイルサイドバーのレイアウト設定
        .header {
            img {
                width: 20%;
            }
        }
        // ? モバイルのヘッダーは表示しない
        .mobile_header {
            display: none;
        }
        // ? サイドバーの幅の設定
        .col-lg-2-5 {
            flex: 0 0 19%;
            max-width: 19%;
        }
        // ? コンテンツの幅の設定
        .col-lg-9-5 {
            flex: 0 0 81%;
            max-width: 81%;
        }
        // ? お問い合わせフォームの設定
        .new-content {
            input:not([type="text-area"]) {
                border-radius: 10px;
                height: 50px;
            }
            .submit-btn {
                .btn {
                    background-color: #4B709A;
                    color: #FFFFFF;
                }
            }
            .submit-btn:hover {
                width: 100%;
            }
        }
        // ? お問い合わせ完了画面の設定
        .complete-content {
            a {
                border-radius: 10px;
                padding: 12px 0;
            }
            .submit-btn {
                .btn {
                    background-color: #4B709A;
                    color: #FFFFFF;
                }
            }
            .submit-btn:hover {
                width: 100%;
            }
        }
    }
}