// ! suggestionフォルダのレイアウト （suggestions）
#suggestion_suggestions {
    // ! 全サイズ共通
    // * スマートフォン （小）
    @media (max-width: 768px) {}
    // * タブレット
    @media (min-width: 768px) and (max-width: 1280px) {}
    // * PC（大）
    @media (min-width: 1280px) {
        // ? SNS一覧ページの設定
        .suggest-content {
            width: 1014px;
            margin-top: 25px;
            margin-bottom: 150px;
            .sns-image {
                width: 100%;
                height: 340px;
                object-fit: cover;
            }
            .user-area {
                background-color: #222222;
                img {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-left: 10px;
                }
                .user-name {
                    color: #FFFFFF;
                }
                .user-height {
                    font-size: 10px;
                    color: #FFFFFF;
                }
                .like {
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
                .number-of-likes {
                    font-size: 14px;
                    margin-top: 2px;
                    margin-left: 5px;
                    color: #FFFFFF;
                    opacity: .6;
                }
            }
            .page {
                margin-top: 50px;
            }
        }
    }
}