#posts {
    // * スマートフォン （小）
    @media (max-width: 575.98px) {
        .pc-header {
            display: none;
        }
        .mobile-post-btn {
            position: fixed;
            bottom: 60px;
            right: 20px;
            z-index: 9999;
        }
        .pc-sidebar {
            display: none;
        }
        .mobile-sidebar {
            position: fixed;
            bottom: 0px;
            right: 0px;
            z-index: 9999;
        }
        .closet_image {
            width: 140px;
            height: 260px;
            object-fit: cover;
            border-radius: 5px;
            box-shadow: var(--box-shadow);
        }
    }
    // * スマートフォン （中）
    @media (min-width: 576px) and (max-width: 767.98px) {
        .pc-header {
            display: none;
        }
        .pc-sidebar {
            display: none;
        }
        .mobile-sidebar {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 9999;
        }
    }
    // * タブレット
    @media (min-width: 768px) and (max-width: 991.98px) {
        // ? モバイル用のボタンは非表示
        .mobile_post_btn {
            display: none;
        }
    }
    // * デスクトップ
    @media (min-width: 992px) and (max-width: 1199.98px) {
        // ? モバイル用のボタンは非表示
        .mobile_post_btn {
            display: none;
        }
    }
    // * ラージデスクトップ
    @media (min-width: 1200px) {
        // ? モバイル用のボタンは非表示
        .mobile_header {
            display: none;
        }
        // * sidebar関連
        .pc-sidebar {
            border-radius: 10px;
            // ? アイコン関連
            svg {
                margin-right: 10px;
            }
            // ? リスト関連
            li {
                box-shadow: var(--box-shadow);
                border-radius: 5px;
                margin-top: 5px;
            }
            li:hover {
                background-color: var(--primary);
                border-radius: 5px;
            }
            // ? リンク関連
            a {
                color: var(--dark);
            }
            a:hover {
                color: #ffffff;
            }
        }
        .mobile-sidebar {
            display: none;
        }
        // * 一覧コンテンツ
        .list_content {
            border-radius: 10px;
        }
        // * 画像関連
        .closet_image {
            width: 140px;
            height: 260px;
            object-fit: cover;
            border-radius: 5px;
            box-shadow: var(--box-shadow);
        }
    }
}