// ! postsフォルダのレイアウト （edit, list, new, show）
#sns_posts {
    // ! 全サイズ共通
    // ? 一覧ページのUI設定
    .list-content {
        input[type="checkbox"] {
            display: none;
        }
        input[type="radio"] {
            display: none;
        }
        label {
            position: relative;
            padding-left: 50px;
            cursor: pointer;
        }
        label::before,
        label::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 0px;
            transform: translateY(-50%);
            border: 1.4px solid rgba(0, 0, 0, .3);
            border-radius: 50%;
            transition: .2s;
        }
        label::before {
            background-color: rgba(0, 106, 182, .2);
            border: 1.4px solid rgba(0, 0, 0, .3);
            border-radius: 12px;
            height: 20px;
            width: 40px;
            top: 50%;
            left: 5px;
        }
        label::after {
            background-color: #fff;
            border-radius: 50%;
            height: 23px;
            width: 23px;
            top: 50%;
            left: 0px;
        }
        input:checked+label::before {
            background-color: rgb(0, 106, 182);
        }
        input:checked+label::after {
            left: 26px;
        }
        .tab-menu {
            .active {
                background-color: #4B709A;
                color: #FFFFFF;
                border: none;
                border-radius: 5px;
            }
            a {
                border-bottom: 3px solid #333333;
                color: #333333;
            }
        }
    }
    // * スマートフォン （小）
    @media (max-width: 768px) {
        // ? SNS一覧ページの設定
        .list-content {
            // width: 760px;
            margin-top: 25px;
            margin-bottom: 150px;
            .flex {
                width: 50%;
                float: left;
            }
            .sns-image {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
            .user-area {
                background-color: #222222;
                padding: 10px;
                img {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    object-fit: cover;
                    // margin-left: 10px;
                }
                .user-name {
                    color: #FFFFFF;
                    font-size: 14px;
                    margin-bottom: 5px;
                }
                .user-height {
                    font-size: 10px;
                    color: #FFFFFF;
                }
                .like {
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
                .number-of-likes {
                    font-size: 14px;
                    margin-top: 2px;
                    margin-left: 5px;
                    color: #FFFFFF;
                    opacity: .6;
                }
            }
            .page {
                margin-top: 50px;
            }
        }
        .new-edit-content {
            padding: 0 20px;
        }
        // ? SNS投稿、編集ページの設定
        .new-edit-content {
            width: 350px;
            margin-top: 45px;
            margin-bottom: 150px;
            h3 {
                font-size: 28px;
                margin-bottom: 60px;
            }
            .modal-container {
                position: relative;
            }
            #overlay {
                position: absolute;
                top: 0;
                opacity: .5;
            }
            .overlay img {
                width: 189px;
                height: 262px;
                object-fit: cover;
            }
            input:not([type="checkbox"]):not([type="file"]):not([type="submit"]):not([type="button"]) {
                border-radius: 10px;
                height: 50px;
                background-color: #FFFFFF;
                opacity: .5;
            }
            select {
                border-radius: 10px;
                height: 50px;
                background-color: #FFFFFF;
                opacity: .5;
            }
            textarea {
                border-radius: 10px;
                height: 50px;
                background-color: #FFFFFF;
                opacity: .5;
            }
            label {
                font-size: 14px;
                margin-bottom: 15px;
            }
            .coordinate {
                border: none;
                background-color: #CBC5C1;
            }
            .item {
                border-radius: 10px;
                height: 50px;
                background-color: #FFFFFF;
                opacity: .5;
            }
            .modal-area {
                .modal-dialog {
                    // max-width: 100%;
                }
                .modal-body {
                    background-color: #333333;
                    .coordinate-modal {
                        padding: 200px 0;
                    }
                    .flex {
                        width: 50%;
                        float: left;
                    }
                    .sns-post-image {
                        width: 100%;
                        height: 250px;
                        object-fit: cover;
                    }
                    #scrollContainer {
                        height: 500px;
                        overflow-y: scroll;
                    }
                    #scrollContainer::-webkit-scrollbar {
                        width: 10px;
                    }
                    #scrollContainer::-webkit-scrollbar-track {
                        background-color: #4B709A;
                    }
                    #scrollContainer::-webkit-scrollbar-thumb {
                        background-color: var(--bg);
                    }
                    .image-mark {
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        background-color: #4B709A;
                        color: #ffffff;
                        padding: 5px 10px;
                        border-radius: 50%;
                        font-size: 15px;
                        font-weight: bold;
                    }
                    .checkbox-image {
                        display: none;
                    }
                    .selected-image {
                        border: 3px solid #FFFFFF;
                        border-radius: 5px;
                        position: relative;
                    }
                    .checkbox-image-label:hover {
                        cursor: pointer;
                    }
                }
            }
            .cancel-btn {
                color: #4B709A;
                border: 2px solid #4B709A;
                border-radius: 10px;
            }
            .submit-btn {
                background-color: #4B709A;
                border: 2px solid #4B709A;
                color: #FFFFFF;
                border-radius: 10px;
            }
            .post-area {
                background-color: #333333;
                .submit-btn {
                    background-color: #4B709A;
                    color: #FFFFFF;
                }
            }
        }
    }
    // * タブレット
    @media (min-width: 768px) and (max-width: 1280px) {
        // ? SNS一覧ページの設定
        .list-content {
            width: 760px;
            margin-top: 25px;
            margin-bottom: 150px;
            .flex {
                width: 33.3%;
                float: left;
            }
            .sns-image {
                width: 100%;
                height: 340px;
                object-fit: cover;
            }
            .user-area {
                background-color: #222222;
                padding: 10px;
                img {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    object-fit: cover;
                    // margin-left: 10px;
                }
                .user-name {
                    color: #FFFFFF;
                    font-size: 14px;
                    margin-bottom: 5px;
                }
                .user-height {
                    font-size: 10px;
                    color: #FFFFFF;
                }
                .like {
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
                .number-of-likes {
                    font-size: 14px;
                    margin-top: 2px;
                    margin-left: 5px;
                    color: #FFFFFF;
                    opacity: .6;
                }
            }
            .page {
                margin-top: 50px;
            }
        }
        // ? SNS投稿、編集ページの設定
        .new-edit-content {
            width: 550px;
            margin-top: 45px;
            margin-bottom: 150px;
            h3 {
                font-size: 28px;
                margin-bottom: 60px;
            }
            .modal-container {
                position: relative;
            }
            #overlay {
                position: absolute;
                top: 0;
                opacity: .6;
            }
            .overlay img {
                width: 189px;
                height: 262px;
                object-fit: cover;
            }
            input:not([type="checkbox"]):not([type="file"]):not([type="submit"]):not([type="button"]) {
                border-radius: 10px;
                height: 50px;
                background-color: #FFFFFF;
                opacity: .5;
            }
            select {
                border-radius: 10px;
                height: 50px;
                background-color: #FFFFFF;
                opacity: .5;
            }
            textarea {
                border-radius: 10px;
                height: 50px;
                background-color: #FFFFFF;
                opacity: .5;
            }
            label {
                font-size: 14px;
                margin-bottom: 15px;
            }
            .coordinate {
                border: none;
                background-color: #CBC5C1;
            }
            .item {
                border-radius: 10px;
                height: 50px;
                background-color: #FFFFFF;
                opacity: .5;
            }
            .modal-area {
                .modal-dialog {
                    max-width: 730px;
                }
                .modal-body {
                    background-color: #333333;
                    .coordinate-modal {
                        padding: 200px 0;
                    }
                    .flex {
                        width: 33.3%;
                        float: left;
                    }
                    .sns-post-image {
                        width: 100%;
                        height: 340px;
                        object-fit: cover;
                    }
                    #scrollContainer {
                        height: 500px;
                        overflow-y: scroll;
                        width: 650px;
                    }
                    #scrollContainer::-webkit-scrollbar {
                        width: 10px;
                    }
                    #scrollContainer::-webkit-scrollbar-track {
                        background-color: #4B709A;
                    }
                    #scrollContainer::-webkit-scrollbar-thumb {
                        background-color: var(--bg);
                    }
                    .image-mark {
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        background-color: #4B709A;
                        color: #ffffff;
                        padding: 5px 10px;
                        border-radius: 50%;
                        font-size: 15px;
                        font-weight: bold;
                    }
                    .checkbox-image {
                        display: none;
                    }
                    .selected-image {
                        border: 3px solid #FFFFFF;
                        border-radius: 5px;
                        position: relative;
                    }
                    .checkbox-image-label:hover {
                        cursor: pointer;
                    }
                }
            }
            .cancel-btn {
                color: #4B709A;
                border: 2px solid #4B709A;
                border-radius: 10px;
            }
            .submit-btn {
                background-color: #4B709A;
                border: 2px solid #4B709A;
                color: #FFFFFF;
                border-radius: 10px;
            }
            .post-area {
                background-color: #333333;
                .submit-btn {
                    background-color: #4B709A;
                    color: #FFFFFF;
                }
            }
        }
    }
    // * PC（大）
    @media (min-width: 1280px) {
        .main-content {
            position: relative;
        }
        // ? SNS一覧ページの設定
        .list-content {
            width: 1014px;
            margin-top: 25px;
            margin-bottom: 150px;
            .flex {
                width: 25%;
                float: left;
            }
            .sns-image {
                width: 100%;
                height: 340px;
                object-fit: cover;
            }
            .user-area {
                background-color: #222222;
                padding: 10px;
                img {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    object-fit: cover;
                    // margin-left: 10px;
                }
                .user-name {
                    color: #FFFFFF;
                }
                .user-height {
                    font-size: 10px;
                    color: #FFFFFF;
                }
                .like {
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
                .number-of-likes {
                    font-size: 14px;
                    margin-top: 2px;
                    margin-left: 5px;
                    color: #FFFFFF;
                    opacity: .6;
                }
            }
            .page {
                margin-top: 50px;
            }
        }
        // ? SNS投稿、編集ページの設定
        .new-edit-content {
            width: 793px;
            margin-top: 45px;
            margin-bottom: 150px;
            h3 {
                font-size: 28px;
                margin-bottom: 60px;
            }
            .modal-container {
                position: relative;
            }
            #overlay {
                position: absolute;
                top: 0;
                opacity: .6;
            }
            .overlay img {
                width: 189px;
                height: 262px;
                object-fit: cover;
            }
            input:not([type="checkbox"]):not([type="file"]):not([type="submit"]):not([type="button"]) {
                border-radius: 10px;
                height: 50px;
                background-color: #FFFFFF;
                opacity: .5;
            }
            select {
                border-radius: 10px;
                height: 50px;
                background-color: #FFFFFF;
                opacity: .5;
            }
            textarea {
                border-radius: 10px;
                height: 50px;
                background-color: #FFFFFF;
                opacity: .5;
            }
            label {
                font-size: 14px;
                margin-bottom: 15px;
            }
            .coordinate {
                border: none;
                background-color: #CBC5C1;
            }
            .item {
                border-radius: 10px;
                height: 50px;
                background-color: #FFFFFF;
                opacity: .5;
            }
            .modal-area {
                .modal-dialog {
                    max-width: 1200px;
                }
                .modal-body {
                    background-color: #333333;
                    .coordinate-modal {
                        padding: 200px 0;
                    }
                    .flex {
                        width: 25%;
                        float: left;
                    }
                    .sns-post-image {
                        width: 250px;
                        height: 340px;
                        object-fit: cover;
                    }
                    #scrollContainer {
                        height: 500px;
                        overflow-y: scroll;
                        width: 1014px;
                    }
                    #scrollContainer::-webkit-scrollbar {
                        width: 10px;
                    }
                    #scrollContainer::-webkit-scrollbar-track {
                        background-color: #4B709A;
                    }
                    #scrollContainer::-webkit-scrollbar-thumb {
                        background-color: var(--bg);
                    }
                    .image-mark {
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        background-color: #4B709A;
                        color: #ffffff;
                        padding: 5px 10px;
                        border-radius: 50%;
                        font-size: 15px;
                        font-weight: bold;
                    }
                    .checkbox-image {
                        display: none;
                    }
                    .selected-image {
                        border: 3px solid #FFFFFF;
                        border-radius: 5px;
                        position: relative;
                    }
                    .checkbox-image-label:hover {
                        cursor: pointer;
                    }
                }
            }
            .cancel-btn {
                color: #4B709A;
                border: 2px solid #4B709A;
                border-radius: 10px;
            }
            .submit-btn {
                background-color: #4B709A;
                border: 2px solid #4B709A;
                color: #FFFFFF;
                border-radius: 10px;
            }
            .post-area {
                background-color: #333333;
                .submit-btn {
                    background-color: #4B709A;
                    color: #FFFFFF;
                }
            }
        }
        // ? SNS詳細ページの設定
        .show-content {
            width: 973px;
            margin-top: 48px;
            .left-content {
                padding-right: 22.5px;
                .sns-show-img {
                    width: 100%;
                    height: 646px;
                    object-fit: cover;
                }
                .user-area {
                    margin-top: 16px;
                    .user-img {
                        width: 45px;
                        height: 45px;
                        object-fit: cover;
                        border-radius: 50%;
                        margin-right: 10px;
                    }
                    h6 {
                        font-size: 18px;
                    }
                    small {
                        font-size: 12px;
                    }
                }
                .like-area {
                    margin-top: 32px;
                    img {
                        width: 18px;
                        height: 18px;
                    }
                    .number-of-like {
                        font-size: 14px;
                        margin-left: 10px;
                    }
                }
                .himself_area {
                    margin-top: 100px;
                    .delete-btn {
                        color: #4B709A;
                        border: 2px solid #4B709A;
                        border-radius: 10px;
                    }
                    .edit-btn {
                        background-color: #4B709A;
                        border: 2px solid #4B709A;
                        color: #FFFFFF;
                        border-radius: 10px;
                    }
                }
            }
            .right-content {
                padding-left: 22.5px;
                .title {
                    font-size: 22px;
                    padding: 20px 0;
                }
                .message {
                    font-size: 14px;
                    padding-top: 20px;
                    padding-bottom: 40px;
                }
                span {
                    font-size: 12px;
                    color: #333333;
                }
                .tag {
                    background-color: #222222;
                    color: #FFFFFF;
                    font-size: 14px;
                    margin: 20px 0;
                }
                .item-area {
                    margin-top: 50px;
                    label {
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                    .item-img {
                        width: 100%;
                        height: 220px;
                        border-radius: 10px;
                        object-fit: cover;
                    }
                }
            }
            .back-btn {
                text-align: center;
                margin-top: 125px;
                margin-bottom: 140px;
                a {
                    background-color: #4B709A;
                    color: #FFFFFF;
                }
            }
        }
    }
}