// ! searchsフォルダのレイアウト （search）
#posts {
  // ! 全サイズ共通

  // * PC（大）
  @media (min-width: 1200px) {
    // ? モバイルのヘッダーは表示しない
    .mobile_header {
      display: none;
    }
    // ? モバイル用のコーディネート投稿ボタンのため表示しない
    .mobile-post-btn {
      display: none;
    }
    // ? モバイルのサイドバーは表示しない
    .mobile-sidebar {
      display: none;
    }
  }
}
