// ! searchsフォルダのレイアウト （search）
#sns_searchs {
    // ! 全サイズ共通
    // ? 検索結果ページのUI設定
    .search_content {
        margin-top: 45px;
        margin-bottom: 150px;
        h4 {
            font-size: 28px;
        }
        p {
            font-size: 16px;
            align-items: center;
            margin-top: 16px;
            margin-bottom: 60px;
        }
        h5 {
            font-size: 22px;
        }
        .flex {
            float: left;
        }
        .sns-image {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        .user-area {
            background-color: #222222;
            padding: 10px;
            img {
                border-radius: 50%;
                object-fit: cover;
            }
            .user-name {
                color: #FFFFFF;
            }
            .user-height {
                font-size: 10px;
                color: #FFFFFF;
            }
            .like {
                img {
                    width: 20px;
                    height: 20px;
                }
            }
            .number-of-likes {
                font-size: 14px;
                margin-top: 2px;
                margin-left: 5px;
                color: #FFFFFF;
                opacity: .6;
            }
        }
        .page {
            margin-top: 50px;
        }
    }
    // * スマートフォン
    @media (max-width: 768px) {
        // ? SNS検索ページの設定
        .search_content {
            padding: 0 3px;
            .flex {
                width: 50%;
            }
            .user-area {
                img {
                    width: 35px;
                    height: 35px;
                }
                .user-name {
                    font-size: 14px;
                }
            }
            .pc-tablet {
                display: none;
            }
        }
    }
    // * タブレット
    @media (min-width: 768px) and (max-width: 1280px) {
        // ? SNS検索ページの設定
        .search_content {
            width: 760px;
            .flex {
                width: 33.3%;
            }
            .user-area {
                img {
                    width: 35px;
                    height: 35px;
                }
                .user-name {
                    font-size: 14px;
                }
            }
            .mobile {
                display: none;
            }
        }
    }
    // * PC（大）
    @media (min-width: 1280px) {
        // ? SNS検索ページの設定
        .search_content {
            width: 1014px;
            .flex {
                width: 25%;
            }
            .user-area {
                img {
                    width: 35px;
                    height: 35px;
                }
                .user-name {
                    font-size: 16px;
                }
            }
            .mobile {
                display: none;
            }
        }
    }
}