        <div class="list_content col-lg-9">
                <div class="bg-white p-3 m-5">
                    <%= @alert.title %>
                    <%= @alert.content %>
                </div>
        </div>
