@import "./auth";
@import "./coordinates/posts";
@import "./sns/posts";
@import "./sns/searchs";
@import "./faq/questions";
@import "./profile/profiles";
@import "./profile/follows";
@import "./profile/alerts";
@import "./coordinates/searchs";
@import "./contact/contacts";
@import "./suggestion/suggestions";
:root {
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
    --bg: #e0e0e0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Sora, "sans-serif";
    line-height: 1.7;
    color: #575757;
    background-color: var(--bg);
}