// ! registerセクション
#auth {
    // ! 全サイズ共通
    // ? headerの設定
    .header {
        background-color: #222222;
    }
    // ? 認証フォームの設定
    input:not([type="checkbox"]) {
        border-radius: 10px;
        height: 50px;
    }
    // ? 送信ボタンの設定
    .submit-btn {
        .btn {
            background-color: #4B709A;
            color: #FFFFFF;
        }
    }
    .submit-btn:hover {
        width: 100%;
    }
    // ? 認証フォームのリンクの設定
    .shared {
        label {
            color: #222222;
        }
        a {
            color: #4B709A;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    // * スマートフォン （小）
    @media (max-width: 575.98px) {
        // ?モバイルサイドバーのレイアウト設定
        .header {
            img {
                width: 40%;
            }
        }
    }
    // * スマートフォン （中）
    @media (min-width: 576px) and (max-width: 767.98px) {}
    // * タブレット
    @media (min-width: 768px) and (max-width: 991.98px) {
        // ?モバイルサイドバーのレイアウト設定
        .header {
            img {
                width: 20%;
            }
        }
    }
    // * PC（小）
    @media (min-width: 992px) and (max-width: 1199.98px) {}
    // * PC（大）
    @media (min-width: 1200px) {
        // ?モバイルサイドバーのレイアウト設定
        .header {
            img {
                width: 20%;
            }
        }
    }
}