// ! registerセクション
#register {
    background-color: #ffffff;
    padding: 30px 50px;
    border-radius: 5px;
}

// ! login
#login {
    background-color: #ffffff;
    padding: 30px 50px;
    border-radius: 5px;
}

// ! password_reset
#password_reset {
    background-color: #ffffff;
    padding: 30px 50px;
    border-radius: 5px;
}

// ! confirmations
#confirmations {
    background-color: #ffffff;
    padding: 30px 50px;
    border-radius: 5px;
}

// ! unlocks
#unlocks {
    background-color: #ffffff;
    padding: 30px 50px;
    border-radius: 5px;
}