<nav class="header bg-dark navbar navbar-expand-lg py-3 text-white mb-1">
    <div class="container">
        <a class="navbar-brand logo-area d-flex align-items-center" href="/">
            <%= image_tag "/assets/my_closet_logo/logo1.png", size: "230x51" %>
        </a>
    </div>
</nav>