<p><%= @email %></p>
<p>My Closet（マイクローゼット）にご登録して頂き、ありがとうございます。本メールは、ご登録いただいたメールアドレスが正しいかどうか確認するための認証用メールです。</p>
<p>メール認証を完了するために、下記の「認証をする」を押してメールの認証をしてください。</p>
<p><%= link_to '認証をする', confirmation_url(@resource, confirmation_token: @token) %></p>
<p>このメールが身に覚えのない場合、削除してください。</p>