<!DOCTYPE html>
<html lang="ja">
<head>
    <style>
        body {
            font-family: Hiragino Kaku Gothic Pro;
            color: #222222;
            padding: 0;
            margin: 0;
        }
        .content {
            max-width: 500px;
            margin: 0 auto;
            padding: 30px 40px;
            border: 1px solid #333333;
            border-radius: 5px;
        }
        .logo {
            text-align: center;
            margin-bottom: 20px;
        }
        .logo img {
            max-width: 120px;
            height: auto;
            border-radius: 50%;
        }
        .fw-bold {
            font-weight: bold;
        }
        p {
            color: #222222;
        }
        .message {
            margin-bottom: 80px;
        }
        .button {
            text-align: center;
        }
        .button a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #4b709a;
            color: #ffffff;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div class="content">
        <div class="logo">
            <%= image_tag attachments['logo.png'].url, alt: 'Company Logo' %>
        </div>

        <div class="message">
            <p class="fw-bold"><%= @resource.user_name %>様</p>
            <p>「MY CLOSET（マイクローゼット）」にご登録して頂き、ありがとうございます。<br>
            本メールは、ご登録頂いたメールアドレスが正しいかどうか確認するための認証用メールです。</p>
            <p>会員登録を完了するために、下記の「確認する」ボタンをクリックしてメールアドレスを認証してください。</p>
        </div>

        <div class="button">
            <%= link_to '確認する', confirmation_url(@resource, confirmation_token: @token) %>
        </div>
    </div>
</body>

</html>