<p class="fw-bold"><%= @email %>様</p>
<p>いつも「My Closet（マイクローゼット）」をご利用頂き、ありがとうございます。本メールは、パスワードをリセットするためのメールです。</p>
<p>パスワードをリセットするために、下記の「パスワードをリセットする」ボタンをクリックしてパスワードをリセットしてください。</p>
<p><%= link_to 'パスワードをリセットする', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>このメールに身に覚えがない場合は、このメールを削除してください。</p>
<p>
    --------------------<br>
    運営事務局<br>
    責任者： 竹中<br>
    E-mail: kd1360801@st.kobedenshi.ac.jp<br>
    住所: ダチョウシステムズ本社 <br>
    --------------------
</p>