<p><%= @email %>様</p>
<p>My Closet（マイクローゼット）にご登録して頂き、ありがとうございます。本メールは、パスワードをリセットするためのメールです。</p>
<p><%= link_to 'パスワードをリセットする', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>このメールに見覚えがない場合はこのメールを削除してください。</p>
