<p class="fw-bold"><%= @email %>様</p>
<p>「My Closet（マイクローゼット）」をいつもご利用頂き、ありがとうございます。お客様のアカウントがロックされたことをお知らせします。</p>
<p>アカウントのロックを解除するには、以下のリンクをクリックしてください。</p>
<p>パスワードをリセットするために、下記の「ロック解除する」ボタンをクリックしてパスワードをリセットしてください。</p>
<p><%= link_to 'ロックを解除する', unlock_url(@resource, unlock_token: @token) %></p>
<p>このメールに身に覚えがない場合は、このメールを削除してください。</p>
<p>
    --------------------<br>
    運営事務局<br>
    責任者： 竹中<br>
    E-mail: kd1360801@st.kobedenshi.ac.jp<br>
    住所: ダチョウシステムズ本社 <br>
    --------------------
</p>