// ! postsフォルダのレイアウト （edit, list, new, show）
#closet_posts {
    // ! 全サイズ共通
    // ?　タブのアクションカラー変更
    .tab-ul {
        .active {
            color: var(--primary);
        }
        a {
            color: var(--dark);
        }
    }
    .radio-a {
        display: flex;
        gap: 5px;
        li {
            list-style: none;
        }
        padding: 0;
    }
    .radio-a input[type="radio"] {
        position: absolute;
        white-space: nowrap;
        border: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        overflow: hidden;
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
    }
    .radio-a-label {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: 1px solid black;
        // background-color: #ddd;
        // color: #fff;
        aspect-ratio: 1 / 1;
        width: 80px;
        cursor: pointer;
        font-size: 15px;
        border-radius: 5px;
    }
    .radio-a input[type="radio"]:checked+.radio-a-label {
        border: 6px solid var(--primary);
    }
    // * sidebar関連
    .pc-sidebar {
        border-radius: 5px;
        // ? アイコンの表示設定
        i {
            margin-right: 10px;
        }
        // ? リストの表示設定
        li:hover {
            background-color: var(--primary);
            border-radius: 5px;
        }
        // ? リンクの表示設定
        a {
            color: var(--dark);
        }
        a:hover {
            color: #ffffff;
        }
        // ? サインイン、サインアウトのレイアウト
        .action-link {
            a:hover {
                color: var(--dark);
                background-color: var(--bg);
            }
        }
        // ? コンテンツエリアと少し幅を空ける
        .sidebar-content {
            margin-right: 5px;
        }
    }
    // * スマートフォン （小）
    @media (max-width: 575.98px) {}
    // * スマートフォン （中）
    @media (min-width: 576px) and (max-width: 767.98px) {}
    // * タブレット
    @media (min-width: 768px) and (max-width: 991.98px) {}
    // * PC（小）
    @media (min-width: 992px) and (max-width: 1199.98px) {}
    // * PC（大）
    @media (min-width: 1200px) {
        // ?　クローゼットに追加された画像比を調整する
        .closet_image {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }
        // ? 詳細画像のサイズ調整
        .closet_show_image {
            object-fit: cover;
            width: 100%;
            height: 800px;
        }
        // ? カラー選択のフォントサイズ
        .radio-a-label{
            font-weight: bold;
        }
    }
}