// ! postsフォルダのレイアウト （edit, list, new, show）
#closet_posts {
    // ! 全サイズ共通
    // * スマートフォン （小）
    @media (max-width: 768px) {
        // ? PC用のヘッダーは表示しない
        .pc-header {
            display: none;
        }
        // ? PCのサイドバーは表示しない
        .pc-sidebar {
            display: none;
        }
        // ? PCのエラーメッセージは表示しない
        .pc_error_msg {
            display: none;
        }
        // ?モバイルサイドバーのレイアウト設定
        .mobile_header {
            .tablet-search-form {
                display: none;
            }
            img {
                width: 40%;
            }
            .navbar-toggler {
                background-color: #ffffff;
            }
            .icon {
                background-color: #fff;
            }
            .sidebar {
                width: 80%;
                transition: opacity 1.0s ease;
            }
        }
        // ? SNS一覧ページの設定
        .list-content {
            margin: 100px 1px;
            .sns-image {
                width: 100%;
                height: 190px;
                object-fit: cover;
            }
            .user-area {
                display: none;
            }
            .form-check-label {
                margin-bottom: 10px;
            }
        }
    }
    // * タブレット
    @media (min-width: 768px) and (max-width: 1280px) {
        // ? SNS一覧ページの設定
        .list-content {}
    }
    // * PC（大）
    @media (min-width: 1280px) {
        // ? クローゼット一覧ページの設定
        .list-content {
            margin-top: 60px;
            margin-bottom: 150px;
            width: 973px;
            .tab-menu.nav {
                display: flex;
                justify-content: space-between;
                padding: 0;
            }
            .tab-menu.nav .nav-item {
                flex: 1;
                padding: 0;
            }
            .tab-menu.nav .nav-link {
                display: block;
                text-align: center;
                padding: 12px;
                background-color: #ffffffae;
                color: #333333;
                font-size: 14px;
            }
            .tab-menu.nav .nav-link.active {
                background-color: #4B709A;
                color: #FFFFFF;
            }
            .flex {
                width: 25%;
                float: left;
            }
            .closet-image {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
            .page {
                margin-top: 50px;
            }
        }
        // ? クローゼット投稿、編集ページの設定
        .new-edit-content {
            margin-top: 45px;
            margin-bottom: 150px;
            width: 793px;
            h4 {
                font-size: 28px;
                margin-bottom: 60px;
            }
            .container {
                position: relative;
            }
            #overlay {
                position: absolute;
                top: 0;
                opacity: .6;
            }
            .overlay img {
                width: 189px;
                height: 262px;
                object-fit: cover;
                border-radius: 10%;
            }
            input:not([type="checkbox"]):not([type="file"]):not([type="submit"]):not([type="button"]) {
                border-radius: 10px;
                height: 50px;
                background-color: #FFFFFF;
                opacity: .5;
            }
            select {
                border-radius: 10px;
                height: 50px;
                background-color: #FFFFFF;
                opacity: .5;
            }
            label {
                font-size: 15px;
                margin-bottom: 15px;
            }
            .item {
                border: none;
                background-color: #CBC5C1;
            }
            .modal-area {
                .modal-body {
                    background-color: #333333;
                    padding: 200px 0;
                }
            }
            .post-area {
                background-color: #333333;
                .submit-btn {
                    background-color: #4B709A;
                    color: #FFFFFF;
                }
            }
            .cancel-btn {
                color: #4B709A;
                border: 2px solid #4B709A;
                border-radius: 10px;
            }
            .submit-btn {
                background-color: #4B709A;
                border: 2px solid #4B709A;
                color: #FFFFFF;
                border-radius: 10px;
            }
        }
        // ? クローゼット詳細ページの設定
        .show-content {
            margin-top: 45px;
            h3 {
                margin-bottom: 60px;
            }
            .item-area {
                width: 973px;
                .left-content {
                    padding-right: 45px;
                    .closet-show-image {
                        width: 425px;
                        height: 566px;
                        object-fit: cover;
                    }
                }
                .right-content {
                    .item-data {
                        padding: 14px 20px;
                        border-bottom: 1px solid #333333;
                        margin-bottom: 24px;
                    }
                    .delete-edit-area {
                        padding-top: 36px;
                        .delete-btn {
                            color: #4B709A;
                            border: 2px solid #4B709A;
                            border-radius: 10px;
                        }
                        .edit-btn {
                            background-color: #4B709A;
                            border: 2px solid #4B709A;
                            color: #FFFFFF;
                            border-radius: 10px;
                        }
                    }
                }
                .return-btn {
                    margin-top: 125px;
                    background-color: #4B709A;
                    color: #FFFFFF;
                    margin-bottom: 120px;
                }
            }
            .sns-area {
                width: 1014px;
                h6 {
                    font-size: 18px;
                    margin-bottom: 39px;
                }
                .sns-image {
                    width: 100%;
                    height: 340px;
                    object-fit: cover;
                }
                .user-area {
                    background-color: #222222;
                    img {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        object-fit: cover;
                        margin-left: 10px;
                    }
                    .user-name {
                        color: #FFFFFF;
                    }
                    .user-height {
                        font-size: 10px;
                        color: #FFFFFF;
                    }
                    .like {
                        i {
                            font-size: 18px;
                        }
                    }
                    .number-of-likes {
                        font-size: 15px;
                        margin-left: 5px;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}