// ! searchsフォルダのレイアウト （search）
#closet_searchs {
    // ! 全サイズ共通
    // * クローゼット検索ページ
    .search-content {
        margin-top: 45px;
        margin-bottom: 150px;
        h4 {
            font-size: 28px;
        }
        p {
            font-size: 16px;
            align-items: center;
            margin-top: 16px;
            margin-bottom: 60px;
        }
        h5 {
            font-size: 22px;
        }
        .flex {
            float: left;
        }
        .closet-search-image {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    // * スマートフォン （小）
    @media (max-width: 768px) {
        // ? クローゼット検索ページ
        .search-content {
            .flex {
                width: 33.3%;
            }
        }
    }
    // * タブレット
    @media (min-width: 768px) and (max-width: 1280px) {
        // ? クローゼット検索ページ
        .search-content {
            width: 760px;
            .flex {
                width: 25%;
            }
        }
    }
    // * PC（大）
    @media (min-width: 1280px) {
        // ? クローゼット検索ページ
        .search-content {
            width: 973px;
            .flex {
                width: 20%;
            }
        }
    }
}