<div class="col-lg-3 m-0 mt-3">
        <%= @question.user.user_name %>
        <p><%= @question.question %></p>
        <p><%= image_tag @question.photograph.url, class: "closet_image" %></p>
        <h1>＝＝＝＝＝＝この下から回答を書く＝＝＝＝＝＝</h1>
</div>

