<div class="col-12 mx-auto alerts">
    <% if notice %>
        <div class="alert alert-success text-center" role="alert">
          <%= notice %><br>
        </div>
    <% end %>
    <% if alert %>
        <div class="alert alert-danger text-center" role="alert">
          <%= alert %><br>
        </div>
    <% end %>
</div>